{% extends "base.html.twig" %}

{% block stylesheets %}
    <link rel="stylesheet" href="assets/css/documentation.css">
{% endblock %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Welcome to BileMo API documentation</h1>

    <article class="bg-light w-75 mt-5 p-4 pt-2 mx-auto border">
        <h2 class="text-center mb-5" id="summary">Summary</h2>
        <table class="mx-auto table table-striped table-bordered w-100">
            <thead>
                <tr class="bg-dark text-light">
                    <th>Method</th>
                    <th>URI</th>
                    <th>Arguments</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                {% for key, discoverabilitie in discoverabilities %}
                <tr class="bg-primary fw-bold">
                    <td colspan="4">{{ key|capitalize }}</td>
                </tr>
                    {% for line in discoverabilitie %}
                        <tr>
                            <td>{{ line.method }}</td>
                            <td>{{ line.uri }}</td>
                            <td>
                                {% for key, argument in line.arguments %}
                                    <span class="d-block">{{ key }} : {{ argument }}</span>
                                {% endfor %}
                            </td>
                            <td>{{ line.description }}</td>
                        </tr>
                    {% endfor %}
                {% endfor %}
            </tbody>
        </table>

        <h3 class="text-center mt-4">Pagination</h3>
        <p>If you want, you can use pagination on /api/products and /api/users/company/{company_id}.</p>
        <p>
            By default, pagination will not be used. You can add query parameter "?page=1", 
            then the default max result will be up to 10 items.
        </p>
        <p>You can add the "limit" parameter like : "?page=1&limit=5" if you want to set the max result to 5 items</p>
        <p>
            Examples : 
            <span class="d-block">/api/products?page=1</span>
            <span class="d-block">/api/products?page=1&limit=5</span>
            <span class="d-block">/api/users/company/10?page=2</span>
            <span class="d-block">/api/users/company/10?page=2&limit=15</span>
        </p>
    </article>

    <article class="bg-light w-75 mt-5 pb-4 mx-auto border">
        <h2 class="text-center mt-2 mb-5" id="products">Products example</h2>
        <div>
            <p class="text-center">
                <span class="fw-bold">GET /api/products</span> 
                will give a status code 200 and will output :
            </p>
            <div class="border w-75 mx-auto pt-4 bg-dark">
                <code>
                    <pre>
                        [
                            {
                                "id": 1,
                                "brand": "eaque",
                                "model": "Elena Koelpin",
                                "priceHtInCents": 166768
                            },
                            {
                                "id": 2,
                                "brand": "harum",
                                "model": "Mr. Joaquin Lebsack PhD",
                                "priceHtInCents": 69784
                            },
                            ...
                            {
                                "id": 14,
                                "brand": "minus",
                                "model": "Alek Bogan",
                                "priceHtInCents": 52972
                            }
                        ]
                    </pre>
                </code>
            </div>
        </div>

        <div class="mt-5">
            <p class="text-center">
                <span class="fw-bold">GET /api/products/1</span>
                will give a status code 200 and will output :
            </p>
            <div class="border w-75 mx-auto pt-4 bg-dark">
                <code>
                    <pre>
                        {
                            "id": 1,
                            "brand": "eaque",
                            "model": "Elena Koelpin",
                            "priceHtInCents": 166768
                        }
                    </pre>
                </code>
            </div>
        </div>
    </article>

    <article class="bg-light w-75 mt-5 pb-4 mx-auto border">
        <h2 class="text-center mt-2 mb-5" id="users">Users example</h2>

        <div class="mt-5">
            <p class="text-center">
                <span class="fw-bold">GET /api/users/company/1</span>
                will give a status code 200 and will output :
            </p>
            <div class="border w-75 mx-auto pt-4 bg-dark">
                <code>
                    <pre>
                        [
                            {
                                "id": 1,
                                "lastName": "Flatley",
                                "firstName": "Brionna",
                                "email": "earline.reinger@rolfson.info",
                                "phoneNumber": "+1-484-508-9862",
                                "createdAt": "2023-07-14T04:04:35+00:00",
                                "company": {
                                    "id": 1,
                                    "name": "ut"
                                }
                            },
                            {
                                "id": 2,
                                "lastName": "Hane",
                                "firstName": "Samanta",
                                "email": "raynor.sasha@hotmail.com",
                                "phoneNumber": "352-296-3202",
                                "createdAt": "2023-07-12T04:50:42+00:00",
                                "company": {
                                    "id": 1,
                                    "name": "ut"
                                }
                            },
                            ...
                            {
                                "id": 85,
                                "lastName": "L'asticot",
                                "firstName": "Coco",
                                "email": "coco@rest.com",
                                "phoneNumber": "010101010101",
                                "createdAt": "2023-07-11T19:40:25+00:00",
                                "company": {
                                    "id": 1,
                                    "name": "ut"
                                }
                            }
                        ]
                    </pre>
                </code>
            </div>
        </div>

        <div class="mt-5">
            <p class="text-center">
                <span class="fw-bold">GET /api/users/1/company/1</span>
                will give a status code 200 and will output :
            </p>
            <div class="border w-75 mx-auto pt-4 bg-dark">
                <code>
                    <pre>
                        {
                            "id": 1,
                            "lastName": "Flatley",
                            "firstName": "Brionna",
                            "email": "earline.reinger@rolfson.info",
                            "phoneNumber": "+1-484-508-9862",
                            "createdAt": "2023-07-14T04:04:35+00:00",
                            "company": {
                                "id": 1,
                                "name": "ut"
                            }
                        }
                    </pre>
                </code>
            </div>
        </div>

        <div class="mt-5">
            <p class="text-center">
                <span class="fw-bold">POST /api/users/company/1</span>
                with :
            </p>
            <div class="border w-75 mx-auto pt-4 bg-dark">
                <code>
                    <pre>
                        {
                            "lastName": "Pascal",
                            "firstName": "La Dalle",
                            "email": "pascale-ladalle@symfony.fr",
                            "phoneNumber": "+33609758518"
                        }
                    </pre>
                </code>
            </div>
            <p class="text-center pt-2">Will give a status code 200 and will output :</p>
            <div class="border w-75 mx-auto pt-4 bg-dark">
                <code>
                    <pre>
                        {
                            "id": 86,
                            "lastName": "Pascal",
                            "firstName": "La Dalle",
                            "email": "pascale-ladalle@symfony.fr",
                            "phoneNumber": "+33609758518",
                            "createdAt": "2023-07-14T15:57:18+00:00",
                            "company": {
                                "id": 1,
                                "name": "ut"
                            }
                        }
                    </pre>
                </code>
            </div>
        </div>

        <div class="mt-5 mb-5">
            <p class="text-center">
                <span class="fw-bold">DELETE /api/users/86/company/1</span>
                will output nothing and will give a status code 204
            </p>
        </div>
    </article>
{% endblock %}
